{% extends "layout.html" %}
{% block tabtitle %} Manage Streams {% endblock %}
{% block pageheader %} Stream Management Page {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<h3>Streams I own</h3>
<p>Lorem ipsum type of text for testing.</p>
<p></p>
</br>
<h3>Streams I subscribe to</h3>
<p>Lorem ipsum type of text for testing.</p>
<p></p>
</br>
</br>
</br>
{% for greeting in greetings %}
{% if greeting.author %}
  <b>{{ greeting.author.nickname() }}</b> wrote:
  {% else %}
  An anonymous person wrote:
  {% endif %}
  <blockquote>{{ greeting.content }}</blockquote>
  {% endfor %}  
  
  <a href='/messages'>messages</a>
        
  <p style="color: red">{{message}}</p>
  <form method="post">
    <label for="firstName">First Name:</label>
    <input name="firstName" type="text" value="{{firstName}}"/><br />
            
    <label for="familyName">Family Name:</label>
    <input name="familyName" type="text" value="{{familyName}}"/><br />
            
    <input name="" type="submit" value="Save"/>
  </form>  
  <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
    <div><textarea name="content" rows="3" cols="60"></textarea></div>
    <div><input type="submit" value="Sign Guestbook"></div>
  </form>

  <hr>
  <form>Guestbook name:
    <input value="{{ guestbook_name }}" name="guestbook_name">
    <input type="submit" value="switch">
  </form>

  <a href="{{ url|safe }}">{{ url_linktext }}</a>
{% endblock %}
