{% extends "layout.html" %}
{% block tabtitle %} Manage Streams {% endblock %}
{% block pageheader %} Stream Management Page {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<h3>What are Streams?</h3>
<p>Streams are 'streams of information' that are relevant to your everyday life.  Streams consist of search and notification algorithms that allow you to find and organize information, events, and causes or organizations you are interested receiving updates upon.</p>
<p>
The Stream Management Page allows you to quickly view Streams you own or have subscribed to.   Searching and filtering capabilities are provided for the table displays.</p>
<p></p>
<a href="{{ url|safe }}">{{ url_linktext }}</a>
<p></p>
<h3>Streams I own</h3>
<table id="t01">
  <tr>
    <th>Thumbnail</th>
    <th>Stream Name</th>
    <th>Owner Name</th> 
    <th>Create Date</th>
  </tr>
  <tr>
    <td>Albert</td>
    <td>Test Stream Name</td> 
    <td>AAB</td>
    <td>11-11-2014</td>
  </tr>
</table>
<p></p>
</br>
<h3>Streams I subscribe to</h3>
<p>Lorem ipsum type of text for testing.</p>
<table id="t02">
  <tr>
    <th>Thumbnail</th>
    <th>Stream Name</th>
    <th>Owner Name</th> 
    <th>Create Date</th>
  </tr>
  <tr>
    <td>Albert</td>
    <td>Test Stream Name</td> 
    <td>AAB</td>
    <td>11-11-2014</td>
  </tr>
</table>
<p></p>
</br>
</br>
</br>

{% for greeting in greetings %}
{% if greeting.author %}
  <b>{{ greeting.author.nickname() }}</b> wrote:
  {% else %}
  An anonymous person wrote:
  {% endif %}
  <blockquote>{{ greeting.content }}</blockquote>
  {% endfor %}  
  <h3>Pending Messages</h3>
  <a href='/messages'>messages</a>
        
  <p style="color: red">{{message}}</p>
  <form method="post">
    <label for="firstName">First Name:</label>
    <input name="firstName" type="text" value="{{firstName}}"/><br />
            
    <label for="familyName">Family Name:</label>
    <input name="familyName" type="text" value="{{familyName}}"/><br />
            
    <input name="" type="submit" value="Save"/>
  </form>  
  <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
    <div><textarea name="content" rows="3" cols="60"></textarea></div>
    <div><input type="submit" value="Sign Guestbook"></div>
  </form>
  <hr>
  <form>Guestbook name:
    <input value="{{ guestbook_name }}" name="guestbook_name">
    <input type="submit" value="switch">
  </form>
{% endblock %}
