<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <title>{% block tabtitle %}{% endblock %}</title>
    <h1>{% block pageheader %}{% endblock %}</h1>
    <ul id="nav">
      <li><a href="index">Manage</a></li>
      <li><a href="create">Create</a></li>
      <li><a href="view">View</a></li>
      <li><a href="search">Search</a></li>
      <li><a href="trending">Trending</a></li>
      <li><a href="social">Social</a></li>
    </ul>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2014 by <a href="http://domain.invalid/"> Albert Bustamante </a>.
      {% endblock %}
    </div>
  </body>
</html>
{% endautoescape %}