body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  padding: 25px;
}

#nav {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
   #nav li {
      float: left; }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: #c00;
      background-color: #fff; }

table {
    width: 80%; 
    background-color: #f1f1c1;
    border-width: 0.5px;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: green;
}

table > tr {
    vertical-align: middle;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: black;
}